:root {
  --text-color: #f0f4f5;
  --background-color: #263343;
  --accent-color: #d49466;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
}

.nav-bar {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  color: var(--text-color);
}

.nav-bar__logo {
  font-size: 20px;
}

.nav-bar__logo i {
  font-size: 26px;
  margin-right: 10px;
}

.nav-bar__logo .bars {
  display: none;
}

.nav-bar__menus {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.nav-bar__menus li {
  cursor: pointer;
  padding: 4px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.nav-bar__menus li:hover {
  background-color: rgb(170, 159, 159);
}

.nav-bar__sns {
  display: flex;
}

.nav-bar__sns li {
  padding: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav-bar__sns li:hover {
  opacity: 0.6;
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px;
  }

  .nav-bar__logo {
    align-self: flex-start;
    width: 100%;
    position: relative;
  }

  .nav-bar__logo .bars {
    cursor: pointer;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .nav-bar__logo .bars:hover {
    opacity: 0.6;
  }

  .nav-bar__menus {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
  }

  .nav-bar__menus li {
    margin: 10px 0;
    padding: 4px 0;
    width: 100%;
    text-align: center;
  }

  .nav-bar__sns {
    display: none;
    margin-top: 10px;
  }
}

.active {
  display: flex;
}
